<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.me.szzc.dao.FareaRodeMapper">
    <resultMap id="BaseResultMap" type="com.me.szzc.pojo.entity.FareaRode">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="p_id" property="pid" jdbcType="INTEGER"/>
        <result column="rode_id" property="rodeid" jdbcType="INTEGER"/>
    </resultMap>
    <select id="insert" useGeneratedKeys="true" resultType="BaseResultMap" keyProperty="id">
        INSERT  INTO  f_area (id , p_id ,rode_id)
        values (#{id , jdbcType="INTEGER} #{ p_id,jdbcType=VARCHAR} #{rode_id,jdbcType=VARCHAR}
        )
    </select>

    <select id="queryFareaRode"  resultType="BaseResultMap">
        SELECT id ,p_id ,rode_id FROM f_arearode
    </select>


</mapper>