<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.me.szzc.dao.RoomChangeMapper">
    <insert id="insertRoomChange" parameterType="com.me.szzc.pojo.entity.RoomChange">
        insert into r_change
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                r_name,
            </if>
            <if test="number != null">
                r_number,
            </if>
            <if test="ridgepole != null">
                r_ridgepole,
            </if>
            <if test="unit != null">
                r_unit,
            </if>
            <if test="floor != null">
                r_floor,
            </if>
            <if test="mark != null">
                r_mark,
            </if>
            <if test="area != null">
                r_area,
            </if>
            <if test="unitPrice != null">
                r_unit_price,
            </if>
            <if test="totalPrice != null">
                r_total_price,
            </if>
            <if test="choosePeople != null">
                r_choose_people,
            </if>
            <if test="district != null">
                r_district,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="number != null">
                #{number,jdbcType=VARCHAR},
            </if>
            <if test="ridgepole != null">
                #{ridgepole,jdbcType=VARCHAR},
            </if>
            <if test="unit != null">
                #{unit,jdbcType=VARCHAR},
            </if>
            <if test="floor != null">
                #{floor,jdbcType=VARCHAR},
            </if>
            <if test="mark != null">
                #{mark,jdbcType=VARCHAR},
            </if>
            <if test="area != null">
                #{area,jdbcType=VARCHAR},
            </if>
            <if test="unitPrice != null">
                #{unitPrice,jdbcType=VARCHAR},
            </if>
            <if test="totalPrice != null">
                #{totalPrice,jdbcType=VARCHAR},
            </if>
            <if test="choosePeople != null">
                #{choosePeople,jdbcType=VARCHAR},
            </if>
            <if test="district != null">
                #{district,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <select id="getCount" parameterType="java.lang.String" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM r_change
        WHERE r_del = 0
        <if test="name != null">
            AND r_name = #{name,jdbcType=VARCHAR}
        </if>
        <if test="district != null">
            AND r_district = #{district,jdbcType=INTEGER}
        </if>
    </select>

    <select id="queryPage" resultType="com.me.szzc.pojo.entity.RoomChange">
        SELECT id,
        r_name AS `NAME`,
        r_number AS `number`,
        r_area AS `AREA`,
        r_unit_price AS unitPrice,
        r_total_price AS totalPrice,r_choose_people AS choosePeople,r_district AS district
        FROM r_change
        WHERE r_del = 0
        <if test="name != null">
            AND r_name = #{name,jdbcType=VARCHAR}
        </if>
        <if test="district != null">
            AND r_district = #{district,jdbcType=INTEGER}
        </if>
        ORDER BY id
        limit ${start},${pageSize}
    </select>

    <delete id="deleteRoomChange">
        UPDATE r_change SET r_del = 1  WHERE id = #{id}
    </delete>

    <select id="getRoomChangeById" resultType="com.me.szzc.pojo.entity.RoomChange">
        SELECT id,r_name AS `name`,r_number AS `number`,
               r_ridgepole AS ridgepole,r_unit AS unit,r_floor AS floor,r_mark AS mark,
               r_area AS area ,r_unit_price AS unitPrice,r_total_price AS totalPrice,
               r_choose_people AS choosePeople,r_district AS district
          FROM r_change
         WHERE id = #{id}
    </select>

    <select id="selectRoomChangeByParam" parameterType="com.me.szzc.pojo.entity.RoomChange" resultType="java.lang.Integer">
        SELECT count(*)
        FROM r_change
        WHERE r_name = #{name,jdbcType=VARCHAR} AND r_number = #{number,jdbcType=VARCHAR} AND r_del = 0
    </select>

    <update id="updateChooseRoom" >
        UPDATE r_change
           SET r_choose_people = #{choosePeople,jdbcType=VARCHAR}
         WHERE r_del = 0
           AND r_name = #{name,jdbcType=VARCHAR}
           AND r_number = #{number,jdbcType=VARCHAR}
    </update>
</mapper>