<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.me.szzc.dao.SettleAccountsMapper">
  <resultMap id="BaseResultMap" type="com.me.szzc.pojo.entity.SettleAccounts">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="card_no" jdbcType="VARCHAR" property="cardNo" />
    <result column="project_name" jdbcType="VARCHAR" property="projectName" />
    <result column="house_owner" jdbcType="VARCHAR" property="houseOwner" />
    <result column="lessee" jdbcType="VARCHAR" property="lessee" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="lessee_phone" jdbcType="VARCHAR" property="lesseePhone" />
    <result column="useing" jdbcType="VARCHAR" property="useing" />
    <result column="check_in_area" jdbcType="DECIMAL" property="checkInArea" />
    <result column="in_area" jdbcType="DECIMAL" property="inArea" />
    <result column="assess_price" jdbcType="DECIMAL" property="assessPrice" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="calc_value_compensate" jdbcType="VARCHAR" property="calcValueCompensate" />
    <result column="value_compensate" jdbcType="DECIMAL" property="valueCompensate" />
    <result column="value_compensate_bz" jdbcType="VARCHAR" property="valueCompensateBz" />
    <result column="calc_decoration_compensate" jdbcType="VARCHAR" property="calcDecorationCompensate" />
    <result column="decoration_compensate" jdbcType="DECIMAL" property="decorationCompensate" />
    <result column="decoration_compensate_bz" jdbcType="VARCHAR" property="decorationCompensateBz" />
    <result column="calc_move_house_fee" jdbcType="VARCHAR" property="calcMoveHouseFee" />
    <result column="move_house_fee" jdbcType="DECIMAL" property="moveHouseFee" />
    <result column="move_house_fee_bz" jdbcType="VARCHAR" property="moveHouseFeeBz" />
    <result column="calc_interim_fee" jdbcType="VARCHAR" property="calcInterimFee" />
    <result column="interim_fee" jdbcType="DECIMAL" property="interimFee" />
    <result column="interim_fee_bz" jdbcType="VARCHAR" property="interimFeeBz" />
    <result column="calc_move_water_meter_fee" jdbcType="VARCHAR" property="calcMoveWaterMeterFee" />
    <result column="move_water_meter_fee" jdbcType="DECIMAL" property="moveWaterMeterFee" />
    <result column="move_water_meter_fee_bz" jdbcType="VARCHAR" property="moveWaterMeterFeeBz" />
    <result column="calc_move_ammeter_fee" jdbcType="VARCHAR" property="calcMoveAmmeterFee" />
    <result column="move_ammeter_fee" jdbcType="DECIMAL" property="moveAmmeterFee" />
    <result column="move_ammeter_fee_bz" jdbcType="VARCHAR" property="moveAmmeterFeeBz" />
    <result column="calc_move_air_conditioning_fee" jdbcType="VARCHAR" property="calcMoveAirConditioningFee" />
    <result column="move_air_conditioning_fee" jdbcType="DECIMAL" property="moveAirConditioningFee" />
    <result column="move_air_conditioning_fee_bz" jdbcType="VARCHAR" property="moveAirConditioningFeeBz" />
    <result column="calc_hot_water_compensate" jdbcType="VARCHAR" property="calcHotWaterCompensate" />
    <result column="hot_water_compensate" jdbcType="DECIMAL" property="hotWaterCompensate" />
    <result column="hot_water_compensate_bz" jdbcType="VARCHAR" property="hotWaterCompensateBz" />
    <result column="calc_gas_fee" jdbcType="VARCHAR" property="calcGasFee" />
    <result column="gas_fee" jdbcType="VARCHAR" property="gasFee" />
    <result column="gas_fee_bz" jdbcType="VARCHAR" property="gasFeeBz" />
    <result column="calc_structure_compensate" jdbcType="VARCHAR" property="calcStructureCompensate" />
    <result column="structure_compensate" jdbcType="DECIMAL" property="structureCompensate" />
    <result column="structure_compensate_bz" jdbcType="VARCHAR" property="structureCompensateBz" />
    <result column="affiliated_other_desc" jdbcType="VARCHAR" property="affiliatedOtherDesc" />
    <result column="calc_affiliated_other" jdbcType="VARCHAR" property="calcAffiliatedOther" />
    <result column="affiliated_other" jdbcType="DECIMAL" property="affiliatedOther" />
    <result column="affiliated_other_bz" jdbcType="VARCHAR" property="affiliatedOtherBz" />
    <result column="calc_no_check_compensate" jdbcType="VARCHAR" property="calcNoCheckCompensate" />
    <result column="no_check_compensate" jdbcType="DECIMAL" property="noCheckCompensate" />
    <result column="no_check_compensate_bz" jdbcType="VARCHAR" property="noCheckCompensateBz" />
    <result column="calc_rmb_compensate" jdbcType="VARCHAR" property="calcRmbCompensate" />
    <result column="rmb_compensate" jdbcType="DECIMAL" property="rmbCompensate" />
    <result column="rmb_compensate_bz" jdbcType="VARCHAR" property="rmbCompensateBz" />
    <result column="calc_life_compensate" jdbcType="VARCHAR" property="calcLifeCompensate" />
    <result column="life_compensate" jdbcType="DECIMAL" property="lifeCompensate" />
    <result column="life_compensate_bz" jdbcType="VARCHAR" property="lifeCompensateBz" />
    <result column="calc_change_compensate" jdbcType="VARCHAR" property="calcChangeCompensate" />
    <result column="change_compensate" jdbcType="DECIMAL" property="changeCompensate" />
    <result column="change_compensate_bz" jdbcType="VARCHAR" property="changeCompensateBz" />
    <result column="calc_building_area_fee" jdbcType="VARCHAR" property="calcBuildingAreaFee" />
    <result column="building_area_fee" jdbcType="DECIMAL" property="buildingAreaFee" />
    <result column="building_area_fee_bz" jdbcType="VARCHAR" property="buildingAreaFeeBz" />
    <result column="calc_suspend_business_fee" jdbcType="VARCHAR" property="calcSuspendBusinessFee" />
    <result column="suspend_business_fee" jdbcType="DECIMAL" property="suspendBusinessFee" />
    <result column="suspend_business_fee_bz" jdbcType="VARCHAR" property="suspendBusinessFeeBz" />
    <result column="calc_no_move_compensate" jdbcType="VARCHAR" property="calcNoMoveCompensate" />
    <result column="no_move_compensate" jdbcType="DECIMAL" property="noMoveCompensate" />
    <result column="no_move_compensate_bz" jdbcType="VARCHAR" property="noMoveCompensateBz" />
    <result column="calc_move_reward" jdbcType="VARCHAR" property="calcMoveReward" />
    <result column="move_reward" jdbcType="DECIMAL" property="moveReward" />
    <result column="move_reward_bz" jdbcType="VARCHAR" property="moveRewardBz" />
    <result column="calc_rmb_move_reward" jdbcType="VARCHAR" property="calcRmbMoveReward" />
    <result column="rmb_move_reward" jdbcType="DECIMAL" property="rmbMoveReward" />
    <result column="rmb_move_reward_bz" jdbcType="VARCHAR" property="rmbMoveRewardBz" />
    <result column="calc_small_area_reward" jdbcType="VARCHAR" property="calcSmallAreaReward" />
    <result column="small_area_reward" jdbcType="DECIMAL" property="smallAreaReward" />
    <result column="small_area_reward_bz" jdbcType="VARCHAR" property="smallAreaRewardBz" />
    <result column="other_desc" jdbcType="VARCHAR" property="otherDesc" />
    <result column="calc_other" jdbcType="VARCHAR" property="calcOther" />
    <result column="other_rmb" jdbcType="DECIMAL" property="otherRmb" />
    <result column="other_bz" jdbcType="VARCHAR" property="otherBz" />
    <result column="calc_sum_compensate" jdbcType="VARCHAR" property="calcSumCompensate" />
    <result column="sum_compensate" jdbcType="DECIMAL" property="sumCompensate" />
    <result column="sum_compensate_bz" jdbcType="VARCHAR" property="sumCompensateBz" />
    <result column="change_area" jdbcType="DECIMAL" property="changeArea" />
    <result column="calc_change_area" jdbcType="VARCHAR" property="calcChangeArea" />
    <result column="calcm" jdbcType="DECIMAL" property="calcm" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="house_money" jdbcType="DECIMAL" property="houseMoney" />
    <result column="calc_deduction" jdbcType="VARCHAR" property="calcDeduction" />
    <result column="deduction" jdbcType="DECIMAL" property="deduction" />
    <result column="deduction_bz" jdbcType="VARCHAR" property="deductionBz" />
    <result column="pay_total" jdbcType="DECIMAL" property="payTotal" />
    <result column="receive_total" jdbcType="DECIMAL" property="receiveTotal" />
    <result column="pay_money" jdbcType="VARCHAR" property="payMoney" />
    <result column="receive_money" jdbcType="VARCHAR" property="receiveMoney" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="modified_date" jdbcType="TIMESTAMP" property="modifiedDate" />
    <result column="modified_user_id" jdbcType="BIGINT" property="modifiedUserId" />
    <result column="deleted" jdbcType="TINYINT" property="deleted" />
    <result column="signing_status" jdbcType="INTEGER" property="signingStatus" />
  </resultMap>
  <sql id="Base_Column_List">
    id, card_no, project_name, house_owner, lessee, phone, lessee_phone, useing, check_in_area,
    in_area, assess_price, address, calc_value_compensate, value_compensate, value_compensate_bz,
    calc_decoration_compensate, decoration_compensate, decoration_compensate_bz, calc_move_house_fee,
    move_house_fee, move_house_fee_bz, calc_interim_fee, interim_fee, interim_fee_bz,
    calc_move_water_meter_fee, move_water_meter_fee, move_water_meter_fee_bz, calc_move_ammeter_fee,
    move_ammeter_fee, move_ammeter_fee_bz, calc_move_air_conditioning_fee, move_air_conditioning_fee,
    move_air_conditioning_fee_bz, calc_hot_water_compensate, hot_water_compensate, hot_water_compensate_bz,
    calc_gas_fee, gas_fee, gas_fee_bz, calc_structure_compensate, structure_compensate,
    structure_compensate_bz, affiliated_other_desc, calc_affiliated_other, affiliated_other,
    affiliated_other_bz, calc_no_check_compensate, no_check_compensate, no_check_compensate_bz,
    calc_rmb_compensate, rmb_compensate, rmb_compensate_bz, calc_life_compensate, life_compensate,
    life_compensate_bz, calc_change_compensate, change_compensate, change_compensate_bz,
    calc_building_area_fee, building_area_fee, building_area_fee_bz, calc_suspend_business_fee,
    suspend_business_fee, suspend_business_fee_bz, calc_no_move_compensate, no_move_compensate,
    no_move_compensate_bz, calc_move_reward, move_reward, move_reward_bz, calc_rmb_move_reward,
    rmb_move_reward, rmb_move_reward_bz, calc_small_area_reward, small_area_reward, small_area_reward_bz,
    other_desc, calc_other, other_rmb, other_bz, calc_sum_compensate, sum_compensate,
    sum_compensate_bz, change_area, calc_change_area, calcm, price, house_money, calc_deduction, deduction,
    deduction_bz, pay_total, receive_total, pay_money, receive_money, create_date, create_user_id,
    modified_date, modified_user_id, deleted, signing_status
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_settle_accounts
    where id = #{id,jdbcType=BIGINT}
  </select>

  <select id="getByHouseOwnerAddr" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_settle_accounts
    where house_owner = #{houseOwner} and address = #{address} and deleted = 0
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_settle_accounts
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <insert id="insertSelective" parameterType="com.me.szzc.pojo.entity.SettleAccounts">
    insert into t_settle_accounts
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="cardNo != null">
        card_no,
      </if>
      <if test="projectName != null">
        project_name,
      </if>
      <if test="houseOwner != null">
        house_owner,
      </if>
      <if test="lessee != null">
        lessee,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="lesseePhone != null">
        lessee_phone,
      </if>
      <if test="useing != null">
        useing,
      </if>
      <if test="checkInArea != null">
        check_in_area,
      </if>
      <if test="inArea != null">
        in_area,
      </if>
      <if test="assessPrice != null">
        assess_price,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="calcValueCompensate != null">
        calc_value_compensate,
      </if>
      <if test="valueCompensate != null">
        value_compensate,
      </if>
      <if test="valueCompensateBz != null">
        value_compensate_bz,
      </if>
      <if test="calcDecorationCompensate != null">
        calc_decoration_compensate,
      </if>
      <if test="decorationCompensate != null">
        decoration_compensate,
      </if>
      <if test="decorationCompensateBz != null">
        decoration_compensate_bz,
      </if>
      <if test="calcMoveHouseFee != null">
        calc_move_house_fee,
      </if>
      <if test="moveHouseFee != null">
        move_house_fee,
      </if>
      <if test="moveHouseFeeBz != null">
        move_house_fee_bz,
      </if>
      <if test="calcInterimFee != null">
        calc_interim_fee,
      </if>
      <if test="interimFee != null">
        interim_fee,
      </if>
      <if test="interimFeeBz != null">
        interim_fee_bz,
      </if>
      <if test="calcMoveWaterMeterFee != null">
        calc_move_water_meter_fee,
      </if>
      <if test="moveWaterMeterFee != null">
        move_water_meter_fee,
      </if>
      <if test="moveWaterMeterFeeBz != null">
        move_water_meter_fee_bz,
      </if>
      <if test="calcMoveAmmeterFee != null">
        calc_move_ammeter_fee,
      </if>
      <if test="moveAmmeterFee != null">
        move_ammeter_fee,
      </if>
      <if test="moveAmmeterFeeBz != null">
        move_ammeter_fee_bz,
      </if>
      <if test="calcMoveAirConditioningFee != null">
        calc_move_air_conditioning_fee,
      </if>
      <if test="moveAirConditioningFee != null">
        move_air_conditioning_fee,
      </if>
      <if test="moveAirConditioningFeeBz != null">
        move_air_conditioning_fee_bz,
      </if>
      <if test="calcHotWaterCompensate != null">
        calc_hot_water_compensate,
      </if>
      <if test="hotWaterCompensate != null">
        hot_water_compensate,
      </if>
      <if test="hotWaterCompensateBz != null">
        hot_water_compensate_bz,
      </if>
      <if test="calcGasFee != null">
        calc_gas_fee,
      </if>
      <if test="gasFee != null">
        gas_fee,
      </if>
      <if test="gasFeeBz != null">
        gas_fee_bz,
      </if>
      <if test="calcStructureCompensate != null">
        calc_structure_compensate,
      </if>
      <if test="structureCompensate != null">
        structure_compensate,
      </if>
      <if test="structureCompensateBz != null">
        structure_compensate_bz,
      </if>
      <if test="affiliatedOtherDesc != null">
        affiliated_other_desc,
      </if>
      <if test="calcAffiliatedOther != null">
        calc_affiliated_other,
      </if>
      <if test="affiliatedOther != null">
        affiliated_other,
      </if>
      <if test="affiliatedOtherBz != null">
        affiliated_other_bz,
      </if>
      <if test="calcNoCheckCompensate != null">
        calc_no_check_compensate,
      </if>
      <if test="noCheckCompensate != null">
        no_check_compensate,
      </if>
      <if test="noCheckCompensateBz != null">
        no_check_compensate_bz,
      </if>
      <if test="calcRmbCompensate != null">
        calc_rmb_compensate,
      </if>
      <if test="rmbCompensate != null">
        rmb_compensate,
      </if>
      <if test="rmbCompensateBz != null">
        rmb_compensate_bz,
      </if>
      <if test="calcLifeCompensate != null">
        calc_life_compensate,
      </if>
      <if test="lifeCompensate != null">
        life_compensate,
      </if>
      <if test="lifeCompensateBz != null">
        life_compensate_bz,
      </if>
      <if test="calcChangeCompensate != null">
        calc_change_compensate,
      </if>
      <if test="changeCompensate != null">
        change_compensate,
      </if>
      <if test="changeCompensateBz != null">
        change_compensate_bz,
      </if>
      <if test="calcBuildingAreaFee != null">
        calc_building_area_fee,
      </if>
      <if test="buildingAreaFee != null">
        building_area_fee,
      </if>
      <if test="buildingAreaFeeBz != null">
        building_area_fee_bz,
      </if>
      <if test="calcSuspendBusinessFee != null">
        calc_suspend_business_fee,
      </if>
      <if test="suspendBusinessFee != null">
        suspend_business_fee,
      </if>
      <if test="suspendBusinessFeeBz != null">
        suspend_business_fee_bz,
      </if>
      <if test="calcNoMoveCompensate != null">
        calc_no_move_compensate,
      </if>
      <if test="noMoveCompensate != null">
        no_move_compensate,
      </if>
      <if test="noMoveCompensateBz != null">
        no_move_compensate_bz,
      </if>
      <if test="calcMoveReward != null">
        calc_move_reward,
      </if>
      <if test="moveReward != null">
        move_reward,
      </if>
      <if test="moveRewardBz != null">
        move_reward_bz,
      </if>
      <if test="calcRmbMoveReward != null">
        calc_rmb_move_reward,
      </if>
      <if test="rmbMoveReward != null">
        rmb_move_reward,
      </if>
      <if test="rmbMoveRewardBz != null">
        rmb_move_reward_bz,
      </if>
      <if test="calcSmallAreaReward != null">
        calc_small_area_reward,
      </if>
      <if test="smallAreaReward != null">
        small_area_reward,
      </if>
      <if test="smallAreaRewardBz != null">
        small_area_reward_bz,
      </if>
      <if test="otherDesc != null">
        other_desc,
      </if>
      <if test="calcOther != null">
        calc_other,
      </if>
      <if test="otherRmb != null">
        other_rmb,
      </if>
      <if test="otherBz != null">
        other_bz,
      </if>
      <if test="calcSumCompensate != null">
        calc_sum_compensate,
      </if>
      <if test="sumCompensate != null">
        sum_compensate,
      </if>
      <if test="sumCompensateBz != null">
        sum_compensate_bz,
      </if>
      <if test="changeArea != null">
        change_area,
      </if>
      <if test="calcChangeArea != null">
        calc_change_area,
      </if>
      <if test="calcm != null">
        calcm,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="houseMoney != null">
        house_money,
      </if>
      <if test="calcDeduction != null">
        calc_deduction,
      </if>
      <if test="deduction != null">
        deduction,
      </if>
      <if test="deductionBz != null">
        deduction_bz,
      </if>
      <if test="payTotal != null">
        pay_total,
      </if>
      <if test="receiveTotal != null">
        receive_total,
      </if>
      <if test="payMoney != null">
        pay_money,
      </if>
      <if test="receiveMoney != null">
        receive_money,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="createUserId != null">
        create_user_id,
      </if>
      <if test="modifiedDate != null">
        modified_date,
      </if>
      <if test="modifiedUserId != null">
        modified_user_id,
      </if>
      <if test="deleted != null">
        deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="cardNo != null">
        #{cardNo,jdbcType=VARCHAR},
      </if>
      <if test="projectName != null">
        #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="houseOwner != null">
        #{houseOwner,jdbcType=VARCHAR},
      </if>
      <if test="lessee != null">
        #{lessee,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="lesseePhone != null">
        #{lesseePhone,jdbcType=VARCHAR},
      </if>
      <if test="useing != null">
        #{useing,jdbcType=VARCHAR},
      </if>
      <if test="checkInArea != null">
        #{checkInArea,jdbcType=DECIMAL},
      </if>
      <if test="inArea != null">
        #{inArea,jdbcType=DECIMAL},
      </if>
      <if test="assessPrice != null">
        #{assessPrice,jdbcType=DECIMAL},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="calcValueCompensate != null">
        #{calcValueCompensate,jdbcType=VARCHAR},
      </if>
      <if test="valueCompensate != null">
        #{valueCompensate,jdbcType=DECIMAL},
      </if>
      <if test="valueCompensateBz != null">
        #{valueCompensateBz,jdbcType=VARCHAR},
      </if>
      <if test="calcDecorationCompensate != null">
        #{calcDecorationCompensate,jdbcType=VARCHAR},
      </if>
      <if test="decorationCompensate != null">
        #{decorationCompensate,jdbcType=DECIMAL},
      </if>
      <if test="decorationCompensateBz != null">
        #{decorationCompensateBz,jdbcType=VARCHAR},
      </if>
      <if test="calcMoveHouseFee != null">
        #{calcMoveHouseFee,jdbcType=VARCHAR},
      </if>
      <if test="moveHouseFee != null">
        #{moveHouseFee,jdbcType=DECIMAL},
      </if>
      <if test="moveHouseFeeBz != null">
        #{moveHouseFeeBz,jdbcType=VARCHAR},
      </if>
      <if test="calcInterimFee != null">
        #{calcInterimFee,jdbcType=VARCHAR},
      </if>
      <if test="interimFee != null">
        #{interimFee,jdbcType=DECIMAL},
      </if>
      <if test="interimFeeBz != null">
        #{interimFeeBz,jdbcType=VARCHAR},
      </if>
      <if test="calcMoveWaterMeterFee != null">
        #{calcMoveWaterMeterFee,jdbcType=VARCHAR},
      </if>
      <if test="moveWaterMeterFee != null">
        #{moveWaterMeterFee,jdbcType=DECIMAL},
      </if>
      <if test="moveWaterMeterFeeBz != null">
        #{moveWaterMeterFeeBz,jdbcType=VARCHAR},
      </if>
      <if test="calcMoveAmmeterFee != null">
        #{calcMoveAmmeterFee,jdbcType=VARCHAR},
      </if>
      <if test="moveAmmeterFee != null">
        #{moveAmmeterFee,jdbcType=DECIMAL},
      </if>
      <if test="moveAmmeterFeeBz != null">
        #{moveAmmeterFeeBz,jdbcType=VARCHAR},
      </if>
      <if test="calcMoveAirConditioningFee != null">
        #{calcMoveAirConditioningFee,jdbcType=VARCHAR},
      </if>
      <if test="moveAirConditioningFee != null">
        #{moveAirConditioningFee,jdbcType=DECIMAL},
      </if>
      <if test="moveAirConditioningFeeBz != null">
        #{moveAirConditioningFeeBz,jdbcType=VARCHAR},
      </if>
      <if test="calcHotWaterCompensate != null">
        #{calcHotWaterCompensate,jdbcType=VARCHAR},
      </if>
      <if test="hotWaterCompensate != null">
        #{hotWaterCompensate,jdbcType=DECIMAL},
      </if>
      <if test="hotWaterCompensateBz != null">
        #{hotWaterCompensateBz,jdbcType=VARCHAR},
      </if>
      <if test="calcGasFee != null">
        #{calcGasFee,jdbcType=VARCHAR},
      </if>
      <if test="gasFee != null">
        #{gasFee,jdbcType=VARCHAR},
      </if>
      <if test="gasFeeBz != null">
        #{gasFeeBz,jdbcType=VARCHAR},
      </if>
      <if test="calcStructureCompensate != null">
        #{calcStructureCompensate,jdbcType=VARCHAR},
      </if>
      <if test="structureCompensate != null">
        #{structureCompensate,jdbcType=DECIMAL},
      </if>
      <if test="structureCompensateBz != null">
        #{structureCompensateBz,jdbcType=VARCHAR},
      </if>
      <if test="affiliatedOtherDesc != null">
        #{affiliatedOtherDesc,jdbcType=VARCHAR},
      </if>
      <if test="calcAffiliatedOther != null">
        #{calcAffiliatedOther,jdbcType=VARCHAR},
      </if>
      <if test="affiliatedOther != null">
        #{affiliatedOther,jdbcType=DECIMAL},
      </if>
      <if test="affiliatedOtherBz != null">
        #{affiliatedOtherBz,jdbcType=VARCHAR},
      </if>
      <if test="calcNoCheckCompensate != null">
        #{calcNoCheckCompensate,jdbcType=VARCHAR},
      </if>
      <if test="noCheckCompensate != null">
        #{noCheckCompensate,jdbcType=DECIMAL},
      </if>
      <if test="noCheckCompensateBz != null">
        #{noCheckCompensateBz,jdbcType=VARCHAR},
      </if>
      <if test="calcRmbCompensate != null">
        #{calcRmbCompensate,jdbcType=VARCHAR},
      </if>
      <if test="rmbCompensate != null">
        #{rmbCompensate,jdbcType=DECIMAL},
      </if>
      <if test="rmbCompensateBz != null">
        #{rmbCompensateBz,jdbcType=VARCHAR},
      </if>
      <if test="calcLifeCompensate != null">
        #{calcLifeCompensate,jdbcType=VARCHAR},
      </if>
      <if test="lifeCompensate != null">
        #{lifeCompensate,jdbcType=DECIMAL},
      </if>
      <if test="lifeCompensateBz != null">
        #{lifeCompensateBz,jdbcType=VARCHAR},
      </if>
      <if test="calcChangeCompensate != null">
        #{calcChangeCompensate,jdbcType=VARCHAR},
      </if>
      <if test="changeCompensate != null">
        #{changeCompensate,jdbcType=DECIMAL},
      </if>
      <if test="changeCompensateBz != null">
        #{changeCompensateBz,jdbcType=VARCHAR},
      </if>
      <if test="calcBuildingAreaFee != null">
        #{calcBuildingAreaFee,jdbcType=VARCHAR},
      </if>
      <if test="buildingAreaFee != null">
        #{buildingAreaFee,jdbcType=DECIMAL},
      </if>
      <if test="buildingAreaFeeBz != null">
        #{buildingAreaFeeBz,jdbcType=VARCHAR},
      </if>
      <if test="calcSuspendBusinessFee != null">
        #{calcSuspendBusinessFee,jdbcType=VARCHAR},
      </if>
      <if test="suspendBusinessFee != null">
        #{suspendBusinessFee,jdbcType=DECIMAL},
      </if>
      <if test="suspendBusinessFeeBz != null">
        #{suspendBusinessFeeBz,jdbcType=VARCHAR},
      </if>
      <if test="calcNoMoveCompensate != null">
        #{calcNoMoveCompensate,jdbcType=VARCHAR},
      </if>
      <if test="noMoveCompensate != null">
        #{noMoveCompensate,jdbcType=DECIMAL},
      </if>
      <if test="noMoveCompensateBz != null">
        #{noMoveCompensateBz,jdbcType=VARCHAR},
      </if>
      <if test="calcMoveReward != null">
        #{calcMoveReward,jdbcType=VARCHAR},
      </if>
      <if test="moveReward != null">
        #{moveReward,jdbcType=DECIMAL},
      </if>
      <if test="moveRewardBz != null">
        #{moveRewardBz,jdbcType=VARCHAR},
      </if>
      <if test="calcRmbMoveReward != null">
        #{calcRmbMoveReward,jdbcType=VARCHAR},
      </if>
      <if test="rmbMoveReward != null">
        #{rmbMoveReward,jdbcType=DECIMAL},
      </if>
      <if test="rmbMoveRewardBz != null">
        #{rmbMoveRewardBz,jdbcType=VARCHAR},
      </if>
      <if test="calcSmallAreaReward != null">
        #{calcSmallAreaReward,jdbcType=VARCHAR},
      </if>
      <if test="smallAreaReward != null">
        #{smallAreaReward,jdbcType=DECIMAL},
      </if>
      <if test="smallAreaRewardBz != null">
        #{smallAreaRewardBz,jdbcType=VARCHAR},
      </if>
      <if test="otherDesc != null">
        #{otherDesc,jdbcType=VARCHAR},
      </if>
      <if test="calcOther != null">
        #{calcOther,jdbcType=VARCHAR},
      </if>
      <if test="otherRmb != null">
        #{otherRmb,jdbcType=DECIMAL},
      </if>
      <if test="otherBz != null">
        #{otherBz,jdbcType=VARCHAR},
      </if>
      <if test="calcSumCompensate != null">
        #{calcSumCompensate,jdbcType=VARCHAR},
      </if>
      <if test="sumCompensate != null">
        #{sumCompensate,jdbcType=DECIMAL},
      </if>
      <if test="sumCompensateBz != null">
        #{sumCompensateBz,jdbcType=VARCHAR},
      </if>
      <if test="changeArea != null">
        #{changeArea,jdbcType=DECIMAL},
      </if>
      <if test="calcChangeArea != null">
        #{calcChangeArea,jdbcType=VARCHAR},
      </if>
      <if test="calcm != null">
        #{calcm,jdbcType=DECIMAL},
      </if>
      <if test="price != null">
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="houseMoney != null">
        #{houseMoney,jdbcType=DECIMAL},
      </if>
      <if test="calcDeduction != null">
        #{calcDeduction,jdbcType=VARCHAR},
      </if>
      <if test="deduction != null">
        #{deduction,jdbcType=DECIMAL},
      </if>
      <if test="deductionBz != null">
        #{deductionBz,jdbcType=VARCHAR},
      </if>
      <if test="payTotal != null">
        #{payTotal,jdbcType=DECIMAL},
      </if>
      <if test="receiveTotal != null">
        #{receiveTotal,jdbcType=DECIMAL},
      </if>
      <if test="payMoney != null">
        #{payMoney,jdbcType=VARCHAR},
      </if>
      <if test="receiveMoney != null">
        #{receiveMoney,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserId != null">
        #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="modifiedDate != null">
        #{modifiedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedUserId != null">
        #{modifiedUserId,jdbcType=BIGINT},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.me.szzc.pojo.entity.SettleAccounts">
    update t_settle_accounts
    <set>
      <if test="cardNo != null">
        card_no = #{cardNo,jdbcType=VARCHAR},
      </if>
      <if test="projectName != null">
        project_name = #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="houseOwner != null">
        house_owner = #{houseOwner,jdbcType=VARCHAR},
      </if>
      <if test="lessee != null">
        lessee = #{lessee,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="lesseePhone != null">
        lessee_phone = #{lesseePhone,jdbcType=VARCHAR},
      </if>
      <if test="useing != null">
        useing = #{useing,jdbcType=VARCHAR},
      </if>
      <if test="checkInArea != null">
        check_in_area = #{checkInArea,jdbcType=DECIMAL},
      </if>
      <if test="inArea != null">
        in_area = #{inArea,jdbcType=DECIMAL},
      </if>
      <if test="assessPrice != null">
        assess_price = #{assessPrice,jdbcType=DECIMAL},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="calcValueCompensate != null">
        calc_value_compensate = #{calcValueCompensate,jdbcType=VARCHAR},
      </if>
      <if test="valueCompensate != null">
        value_compensate = #{valueCompensate,jdbcType=DECIMAL},
      </if>
      <if test="valueCompensateBz != null">
        value_compensate_bz = #{valueCompensateBz,jdbcType=VARCHAR},
      </if>
      <if test="calcDecorationCompensate != null">
        calc_decoration_compensate = #{calcDecorationCompensate,jdbcType=VARCHAR},
      </if>
      <if test="decorationCompensate != null">
        decoration_compensate = #{decorationCompensate,jdbcType=DECIMAL},
      </if>
      <if test="decorationCompensateBz != null">
        decoration_compensate_bz = #{decorationCompensateBz,jdbcType=VARCHAR},
      </if>
      <if test="calcMoveHouseFee != null">
        calc_move_house_fee = #{calcMoveHouseFee,jdbcType=VARCHAR},
      </if>
      <if test="moveHouseFee != null">
        move_house_fee = #{moveHouseFee,jdbcType=DECIMAL},
      </if>
      <if test="moveHouseFeeBz != null">
        move_house_fee_bz = #{moveHouseFeeBz,jdbcType=VARCHAR},
      </if>
      <if test="calcInterimFee != null">
        calc_interim_fee = #{calcInterimFee,jdbcType=VARCHAR},
      </if>
      <if test="interimFee != null">
        interim_fee = #{interimFee,jdbcType=DECIMAL},
      </if>
      <if test="interimFeeBz != null">
        interim_fee_bz = #{interimFeeBz,jdbcType=VARCHAR},
      </if>
      <if test="calcMoveWaterMeterFee != null">
        calc_move_water_meter_fee = #{calcMoveWaterMeterFee,jdbcType=VARCHAR},
      </if>
      <if test="moveWaterMeterFee != null">
        move_water_meter_fee = #{moveWaterMeterFee,jdbcType=DECIMAL},
      </if>
      <if test="moveWaterMeterFeeBz != null">
        move_water_meter_fee_bz = #{moveWaterMeterFeeBz,jdbcType=VARCHAR},
      </if>
      <if test="calcMoveAmmeterFee != null">
        calc_move_ammeter_fee = #{calcMoveAmmeterFee,jdbcType=VARCHAR},
      </if>
      <if test="moveAmmeterFee != null">
        move_ammeter_fee = #{moveAmmeterFee,jdbcType=DECIMAL},
      </if>
      <if test="moveAmmeterFeeBz != null">
        move_ammeter_fee_bz = #{moveAmmeterFeeBz,jdbcType=VARCHAR},
      </if>
      <if test="calcMoveAirConditioningFee != null">
        calc_move_air_conditioning_fee = #{calcMoveAirConditioningFee,jdbcType=VARCHAR},
      </if>
      <if test="moveAirConditioningFee != null">
        move_air_conditioning_fee = #{moveAirConditioningFee,jdbcType=DECIMAL},
      </if>
      <if test="moveAirConditioningFeeBz != null">
        move_air_conditioning_fee_bz = #{moveAirConditioningFeeBz,jdbcType=VARCHAR},
      </if>
      <if test="calcHotWaterCompensate != null">
        calc_hot_water_compensate = #{calcHotWaterCompensate,jdbcType=VARCHAR},
      </if>
      <if test="hotWaterCompensate != null">
        hot_water_compensate = #{hotWaterCompensate,jdbcType=DECIMAL},
      </if>
      <if test="hotWaterCompensateBz != null">
        hot_water_compensate_bz = #{hotWaterCompensateBz,jdbcType=VARCHAR},
      </if>
      <if test="calcGasFee != null">
        calc_gas_fee = #{calcGasFee,jdbcType=VARCHAR},
      </if>
      <if test="gasFee != null">
        gas_fee = #{gasFee,jdbcType=VARCHAR},
      </if>
      <if test="gasFeeBz != null">
        gas_fee_bz = #{gasFeeBz,jdbcType=VARCHAR},
      </if>
      <if test="calcStructureCompensate != null">
        calc_structure_compensate = #{calcStructureCompensate,jdbcType=VARCHAR},
      </if>
      <if test="structureCompensate != null">
        structure_compensate = #{structureCompensate,jdbcType=DECIMAL},
      </if>
      <if test="structureCompensateBz != null">
        structure_compensate_bz = #{structureCompensateBz,jdbcType=VARCHAR},
      </if>
      <if test="affiliatedOtherDesc != null">
        affiliated_other_desc = #{affiliatedOtherDesc,jdbcType=VARCHAR},
      </if>
      <if test="calcAffiliatedOther != null">
        calc_affiliated_other = #{calcAffiliatedOther,jdbcType=VARCHAR},
      </if>
      <if test="affiliatedOther != null">
        affiliated_other = #{affiliatedOther,jdbcType=DECIMAL},
      </if>
      <if test="affiliatedOtherBz != null">
        affiliated_other_bz = #{affiliatedOtherBz,jdbcType=VARCHAR},
      </if>
      <if test="calcNoCheckCompensate != null">
        calc_no_check_compensate = #{calcNoCheckCompensate,jdbcType=VARCHAR},
      </if>
      <if test="noCheckCompensate != null">
        no_check_compensate = #{noCheckCompensate,jdbcType=DECIMAL},
      </if>
      <if test="noCheckCompensateBz != null">
        no_check_compensate_bz = #{noCheckCompensateBz,jdbcType=VARCHAR},
      </if>
      <if test="calcRmbCompensate != null">
        calc_rmb_compensate = #{calcRmbCompensate,jdbcType=VARCHAR},
      </if>
      <if test="rmbCompensate != null">
        rmb_compensate = #{rmbCompensate,jdbcType=DECIMAL},
      </if>
      <if test="rmbCompensateBz != null">
        rmb_compensate_bz = #{rmbCompensateBz,jdbcType=VARCHAR},
      </if>
      <if test="calcLifeCompensate != null">
        calc_life_compensate = #{calcLifeCompensate,jdbcType=VARCHAR},
      </if>
      <if test="lifeCompensate != null">
        life_compensate = #{lifeCompensate,jdbcType=DECIMAL},
      </if>
      <if test="lifeCompensateBz != null">
        life_compensate_bz = #{lifeCompensateBz,jdbcType=VARCHAR},
      </if>
      <if test="calcChangeCompensate != null">
        calc_change_compensate = #{calcChangeCompensate,jdbcType=VARCHAR},
      </if>
      <if test="changeCompensate != null">
        change_compensate = #{changeCompensate,jdbcType=DECIMAL},
      </if>
      <if test="changeCompensateBz != null">
        change_compensate_bz = #{changeCompensateBz,jdbcType=VARCHAR},
      </if>
      <if test="calcBuildingAreaFee != null">
        calc_building_area_fee = #{calcBuildingAreaFee,jdbcType=VARCHAR},
      </if>
      <if test="buildingAreaFee != null">
        building_area_fee = #{buildingAreaFee,jdbcType=DECIMAL},
      </if>
      <if test="buildingAreaFeeBz != null">
        building_area_fee_bz = #{buildingAreaFeeBz,jdbcType=VARCHAR},
      </if>
      <if test="calcSuspendBusinessFee != null">
        calc_suspend_business_fee = #{calcSuspendBusinessFee,jdbcType=VARCHAR},
      </if>
      <if test="suspendBusinessFee != null">
        suspend_business_fee = #{suspendBusinessFee,jdbcType=DECIMAL},
      </if>
      <if test="suspendBusinessFeeBz != null">
        suspend_business_fee_bz = #{suspendBusinessFeeBz,jdbcType=VARCHAR},
      </if>
      <if test="calcNoMoveCompensate != null">
        calc_no_move_compensate = #{calcNoMoveCompensate,jdbcType=VARCHAR},
      </if>
      <if test="noMoveCompensate != null">
        no_move_compensate = #{noMoveCompensate,jdbcType=DECIMAL},
      </if>
      <if test="noMoveCompensateBz != null">
        no_move_compensate_bz = #{noMoveCompensateBz,jdbcType=VARCHAR},
      </if>
      <if test="calcMoveReward != null">
        calc_move_reward = #{calcMoveReward,jdbcType=VARCHAR},
      </if>
      <if test="moveReward != null">
        move_reward = #{moveReward,jdbcType=DECIMAL},
      </if>
      <if test="moveRewardBz != null">
        move_reward_bz = #{moveRewardBz,jdbcType=VARCHAR},
      </if>
      <if test="calcRmbMoveReward != null">
        calc_rmb_move_reward = #{calcRmbMoveReward,jdbcType=VARCHAR},
      </if>
      <if test="rmbMoveReward != null">
        rmb_move_reward = #{rmbMoveReward,jdbcType=DECIMAL},
      </if>
      <if test="rmbMoveRewardBz != null">
        rmb_move_reward_bz = #{rmbMoveRewardBz,jdbcType=VARCHAR},
      </if>
      <if test="calcSmallAreaReward != null">
        calc_small_area_reward = #{calcSmallAreaReward,jdbcType=VARCHAR},
      </if>
      <if test="smallAreaReward != null">
        small_area_reward = #{smallAreaReward,jdbcType=DECIMAL},
      </if>
      <if test="smallAreaRewardBz != null">
        small_area_reward_bz = #{smallAreaRewardBz,jdbcType=VARCHAR},
      </if>
      <if test="otherDesc != null">
        other_desc = #{otherDesc,jdbcType=VARCHAR},
      </if>
      <if test="calcOther != null">
        calc_other = #{calcOther,jdbcType=VARCHAR},
      </if>
      <if test="otherRmb != null">
        other_rmb = #{otherRmb,jdbcType=DECIMAL},
      </if>
      <if test="otherBz != null">
        other_bz = #{otherBz,jdbcType=VARCHAR},
      </if>
      <if test="calcSumCompensate != null">
        calc_sum_compensate = #{calcSumCompensate,jdbcType=VARCHAR},
      </if>
      <if test="sumCompensate != null">
        sum_compensate = #{sumCompensate,jdbcType=DECIMAL},
      </if>
      <if test="sumCompensateBz != null">
        sum_compensate_bz = #{sumCompensateBz,jdbcType=VARCHAR},
      </if>
      <if test="changeArea != null">
        change_area = #{changeArea,jdbcType=DECIMAL},
      </if>
      <if test="calcChangeArea != null">
        calc_change_area = #{calcChangeArea,jdbcType=VARCHAR},
      </if>
      <if test="calcm != null">
        calcm = #{calcm,jdbcType=DECIMAL},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="houseMoney != null">
        house_money = #{houseMoney,jdbcType=DECIMAL},
      </if>
      <if test="calcDeduction != null">
        calc_deduction = #{calcDeduction,jdbcType=VARCHAR},
      </if>
      <if test="deduction != null">
        deduction = #{deduction,jdbcType=DECIMAL},
      </if>
      <if test="deductionBz != null">
        deduction_bz = #{deductionBz,jdbcType=VARCHAR},
      </if>
      <if test="payTotal != null">
        pay_total = #{payTotal,jdbcType=DECIMAL},
      </if>
      <if test="receiveTotal != null">
        receive_total = #{receiveTotal,jdbcType=DECIMAL},
      </if>
      <if test="payMoney != null">
        pay_money = #{payMoney,jdbcType=VARCHAR},
      </if>
      <if test="receiveMoney != null">
        receive_money = #{receiveMoney,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserId != null">
        create_user_id = #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="modifiedDate != null">
        modified_date = #{modifiedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedUserId != null">
        modified_user_id = #{modifiedUserId,jdbcType=BIGINT},
      </if>
      <if test="deleted != null">
        deleted = #{deleted,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="selectNmae" parameterType="java.lang.String" resultType="java.lang.Integer" >
    select COUNT(1)
    from t_settle_accounts
    where house_owner = #{houseOwner , jdbcType=VARCHAR}  and deleted = 0
  </select>

  <update id="delete" parameterType="com.me.szzc.pojo.entity.SettleAccounts">
    update t_settle_accounts set deleted  = 1 ,
      modified_date = #{modifiedDate}, modified_user_id = #{modifiedUserId}
      where id = #{id}
  </update>

  <select id="list" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from t_settle_accounts
    where deleted = 0
    <if test="signingStatus != null">
      and signing_status = #{signingStatus}
    </if>
    <if test="keywords != null ">
      and (house_owner like concat('%',#{keywords} ,'%') or phone like concat('%',#{keywords} ,'%') or address like
      concat('%',#{keywords} ,'%'))
    </if>
    order by create_date desc
    <if test="isFY != null and isFY = true ">
      limit ${firstResult}, ${maxResults}
    </if>
  </select>


  <select id="getCount" resultType="java.lang.Integer">
    select
    count(1)
    from t_settle_accounts
    where deleted = 0
    <if test="signingStatus != null">
      and signing_status = #{signingStatus}
    </if>
    <if test="keywords != null ">
      and (house_owner like concat('%',#{keywords} ,'%') or phone like concat('%',#{keywords} ,'%') or address like
      concat('%',#{keywords} ,'%'))
    </if>

  </select>


  <update id="changeSignStatus" parameterType="com.me.szzc.pojo.entity.SettleAccounts">
      update t_settle_accounts set signing_status = #{signingStatus} , modified_date = #{modifiedDate},
      modified_user_id = #{modifiedUserId} where id = #{id}
  </update>

</mapper>